/* main-nav */
.site-head .main-nav {
  height: 40px;
  background: #20bd9a;
}
.site-head .main-nav ul.main-nav-list > li {
  float: left;
  padding: 0 9px;
  line-height: 40px;
}
.site-head .main-nav ul.main-nav-list > li:first-child {
  padding-left: 0;
}
.site-head .main-nav ul.main-nav-list > li.have_menu {
  padding-right: 20px;
  position: relative;
}
.site-head .main-nav ul.main-nav-list > li.have_menu::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  right: 5px;
  top: 19px;
  border: 4px solid transparent;
  border-top-color: white;
  border-bottom: none;
  transition: all 0.4s ease 0s;
}
.site-head .main-nav ul.main-nav-list > li.have_menu:hover .h_menu {
  display: block;
}
.site-head .main-nav ul.main-nav-list > li.have_menu .h_menu {
  position: absolute;
  left: 0;
  top: 38px;
  z-index: 99999;
  display: none;
  padding-top: 6px;
}
.site-head .main-nav ul.main-nav-list > li.have_menu .h_menu.jj {
  width: 200px;
}
.site-head .main-nav ul.main-nav-list > li.have_menu .h_menu.gt {
  width: 170px;
}
.site-head .main-nav ul.main-nav-list > li.have_menu .h_menu.dd {
  width: 200px;
}
.site-head .main-nav ul.main-nav-list > li.have_menu .h_menu.sd {
  width: 120px;
}
.site-head .main-nav ul.main-nav-list > li.have_menu .h_menu .menu_box {
  background: rgba(255, 255, 255, 0.87);
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.site-head .main-nav ul.main-nav-list > li.have_menu .h_menu .menu_box dl dt {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 6px;
}
.site-head .main-nav ul.main-nav-list > li.have_menu .h_menu .menu_box dl dd {
  line-height: 25px;
}
.site-head
  .main-nav
  ul.main-nav-list
  > li.have_menu
  .h_menu
  .menu_box
  dl
  dd
  > a {
  font-size: 13px;
}
.site-head
  .main-nav
  ul.main-nav-list
  > li.have_menu
  .h_menu
  .menu_box
  dl
  dd
  > a:hover {
  color: #20bd9a;
}
.site-head .main-nav ul.main-nav-list > li > a {
  color: white;
  display: block;
}
.site-head .main-nav ul.main-nav-list > li:hover > a {
  text-shadow: 1px 1px 1px rgba(9, 87, 35, 0.678);
}
.site-head .main-nav ul.main-nav-list > li.have_menu:hover::before {
  transform: rotate(180deg);
}

/* header-con */
.site-head .header-con {
  height: 78px;
}
.site-head .header-con h1 {
  float: left;
  width: 118px;
  height: 22px;
  background: url(../images/icons.png) 0 -10px;
  text-indent: -9999em;
  margin-top: 28px;
}
.site-head .header-con h1 a {
  display: block;
  width: 100%;
  height: 100%;
}
.site-head .header-con .soso-box {
  float: left;
  width: 405px;
  height: 30px;
  border: 1px solid #20bd9a;
  box-sizing: border-box;
  margin-left: 20px;
  margin-top: 24px;
  border-radius: 4px;
  position: relative;
}
.site-head .header-con .soso-box input {
  border: none;
  width: 405px;
  height: 28px;
  outline: none;
  font-size: 14px;
  margin-left: 8px;
  color: #333;
}
.site-head .header-con .soso-box .btn {
  position: absolute;
  width: 32px;
  height: 30px;
  background-color: #33ad93;
  right: -1px;
  top: -1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.site-head .header-con .soso-box .btn:hover {
  background-color: #20bd9a;
}
.site-head .header-con .soso-box .btn b {
  font-size: 24px;
  color: white;
  font-weight: normal;
  line-height: 30px;
  position: absolute;
  top: 0px;
  left: 3px;
}

/* menu */
.banner .center-wrap .v-menu-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 296px;
  height: 100%;
}
.banner .center-wrap .v-menu-box nav {
  height: 100%;
}
.banner .center-wrap .v-menu-box nav ul {
  height: 100%;
}
.banner .center-wrap .v-menu-box nav ul li {
  height: 16.66666667%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.376);
  cursor: pointer;
}
.banner .center-wrap .v-menu-box nav ul li .inn {
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
}
.banner .center-wrap .v-menu-box nav ul li .t {
  padding-left: 50px;
  color: white;
  font-size: 18px;
  height: 18px;
  line-height: 18px;
}
.banner .center-wrap .v-menu-box nav ul li .e {
  padding-left: 50px;
  color: white;
  font-size: 14px;
  padding-top: 8px;
  height: 14px;
  line-height: 14px;
}
.banner .center-wrap .v-menu-box nav ul li::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: 14px;
  width: 22px;
  height: 18px;
  background: url(images/icons.png) no-repeat;
}
.banner .center-wrap .v-menu-box nav ul li.active {
  background-color: rgba(0, 0, 0, 0.486);
}
.banner .center-wrap .v-menu-box nav ul li[data-n='hot']::before {
  background-position: -141px -328px;
}
.banner .center-wrap .v-menu-box nav ul li[data-n='hk']::before {
  background-position: -143px -129px;
}
.banner .center-wrap .v-menu-box nav ul li[data-n='japan']::before {
  background-position: -143px -167px;
}
.banner .center-wrap .v-menu-box nav ul li[data-n='asia']::before {
  background-position: -143px -203px;
}
.banner .center-wrap .v-menu-box nav ul li[data-n='eu']::before {
  background-position: -143px -246px;
}
.banner .center-wrap .v-menu-box nav ul li[data-n='au']::before {
  background-position: -143px -287px;
}
.banner .center-wrap .v-menu-box .menu {
  position: absolute;
  width: 350px;
  height: 1000px;
  top: 0;
  left: 296px;
  display: none;
  background-color: rgba(0, 0, 0, 0.486);
  transition: all 0.4s ease 0s;
}
.banner .center-wrap .v-menu-box .menu.active {
  display: block;
}
.banner .center-wrap .v-menu-box .menu .menu_inn {
  padding: 10px;
}
.banner .center-wrap .v-menu-box .menu .menu_inn dl dt {
  font-size: 17px;
  color: white;
  line-height: 30px;
}
.banner .center-wrap .v-menu-box .menu .menu_inn dl dd {
  line-height: 18px;
  margin-bottom: 20px;
}
.banner .center-wrap .v-menu-box .menu .menu_inn dl dd a {
  color: white;
  margin-right: 10px;
  font-size: 14px;
}
.banner .center-wrap .v-menu-box .menu .menu_inn dl dd a:hover {
  color: #20bd9a;
}

/* fav-ad */
.fav-ad ul li.grid {
  float: left;
  width: 264px;
  height: 110px;
  margin-right: 32px;
  box-shadow: none;
}
.fav-ad ul li.grid:last-child {
  margin-right: 0;
}
.fav-ad ul li.grid img.p-img {
  width: 264px;
  height: 110px;
  transition: all 0.3s ease 0s;
}

/* xxsw */
.xxsw .bd ul li.grid {
  float: left;
  width: 264px;
  height: 270px;
  margin-right: 32px;
  background-color: white;
  margin-bottom: 32px;
}
.xxsw .bd ul li.grid:nth-child(4n) {
  margin-right: 0;
}
.xxsw .bd ul li.grid .pic {
  width: 264px;
  height: 184px;
}
.xxsw .bd ul li.grid .pic img.p-img {
  width: 264px;
  height: 184px;
}
.xxsw .bd ul li.grid .tip {
  padding: 20px 10px 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 24px;
}

/* ddwl */
.ddwl .bd li.grid {
  width: 364px;
  height: 120px;
  background: white;
  margin-bottom: 30px;
}
.ddwl .bd li.grid .pic {
  float: left;
  width: 120px;
  height: 120px;
}
.ddwl .bd li.grid .pic img {
  width: 120px;
  height: 120px;
}
.ddwl .bd li.grid .tip {
  float: left;
  width: 244px;
  height: 120px;
}
.ddwl .bd li.grid .tip .inn {
  padding: 10px;
  font-size: 16px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 24px;
}
.ddwl .bd .col1 {
  float: left;
  width: 364px;
  margin-right: 30px;
}
.ddwl .bd .col1 li.big {
  width: 364px;
  height: 270px;
  position: relative;
}
.ddwl .bd .col1 li.big .pic {
  width: 364px;
  height: 270px;
}
.ddwl .bd .col1 li.big .pic img {
  width: 364px;
  height: 270px;
}
.ddwl .bd .col1 li.big .tip {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 364px;
  height: 104px;
  background-color: rgba(0, 0, 0, 0.527);
}
.ddwl .bd .col1 li.big .tip .inn {
  padding: 10px 16px;
  color: white;
  line-height: 30px;
}
.ddwl .bd .col1 li.big .tip .type {
  position: absolute;
  left: 16px;
  bottom: 10px;
  color: white;
}
.ddwl .bd .col1 li.big .tip .price {
  position: absolute;
  right: 16px;
  bottom: 10px;
  color: white;
}
.ddwl .bd .col1 li.big .tip .price span {
  font-size: 26px;
  color: #34e3bc;
}
.ddwl .bd .col2 {
  float: left;
  width: 364px;
  margin-right: 30px;
}
.ddwl .bd .col3 {
  float: left;
  width: 364px;
}
.ddwl .bd .col3 .more {
  height: 270px;
  position: relative;
  background: -webkit-linear-gradient(top, #ff6374, #ff7368);
}

/* tsddty */
.tsddty .hd h3 {
  float: none;
  text-align: center;
}
.tsddty li.grid {
  width: 264px;
  height: 290px;
  float: left;
  margin-right: 32px;
}
.tsddty li.grid:last-child {
  margin-right: 0;
}
.tsddty li.grid .tip {
  padding: 10px;
}
.tsddty li.grid .tip .inn .title {
  font-size: 16px;
  color: #000000;
  line-height: 24px;
  font-weight: bold;
}
.tsddty li.grid .tip .inn .extra {
  padding-top: 10px;
  font-size: 13px;
}
.tsddty li.grid .tip .inn .extra .star {
  color: #fa6400;
}
.tsddty li.grid .tip .inn .extra .score {
  color: #fa6400;
}

/* zsj */
.zsj .more {
  background: -webkit-linear-gradient(top, #bd5ee8, #832abb) !important;
}

/* gt */
.gt .more {
  background: -webkit-linear-gradient(top, #41d8e9, #3685ea) !important;
}

/* footer-nav */
footer .footer-nav nav ul {
  padding-top: 30px;
  overflow: hidden;
}
footer .footer-nav nav ul li {
  float: left;
  border-right: 1px solid #1c1f21;
  padding: 0 30px;
  font-size: 16px;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
}
footer .footer-nav nav ul li a {
  color: #1c1f21;
}
footer .footer-nav nav ul li a:hover {
  color: #20bd9a;
}
footer .footer-nav nav ul li:first-child {
  padding-left: 0;
}
footer .footer-nav nav ul li:last-child {
  padding-right: 0;
  border-right: none;
}
footer .footer-nav .favs {
  margin-top: 50px;
}
footer .footer-nav .favs dl {
  float: left;
  width: 33.33%;
  height: 80px;
  position: relative;
  box-sizing: border-box;
  padding-left: 75px;
  padding-right: 30px;
}
footer .footer-nav .favs dl::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 60px;
  height: 60px;
  background: url(../images/icons.png) no-repeat 0 -100px;
}
footer .footer-nav .favs dl.no2::before {
  background-position: 0 -200px;
}
footer .footer-nav .favs dl.no2::before {
  background-position: 0 -300px;
}
footer .footer-nav .favs dl dt {
  font-weight: bold;
  font-size: 18px;
  color: #1c1f21;
  margin-bottom: 4px;
}
footer .footer-nav .favs dl dd {
  font-size: 14px;
  color: #757575;
}

/* bottom-bar */
footer .bottom-bar .row1 {
  overflow: hidden;
  padding-top: 30px;
}
footer .bottom-bar .row1 .webname {
  float: left;
  font-size: 46px;
}
footer .bottom-bar .row1 .description {
  width: 480px;
  float: left;
  margin-left: 30px;
  padding-top: 10px;
  line-height: 24px;
}
footer .bottom-bar .row2 ul {
  overflow: hidden;
  padding-top: 30px;
}
footer .bottom-bar .row2 ul li {
  float: left;
  border-right: 1px solid white;
  padding: 0 10px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
}
footer .bottom-bar .row2 ul li a {
  color: white;
}
footer .bottom-bar .row2 ul li a:hover {
  color: #20bd9a;
}
footer .bottom-bar .row2 ul li:first-child {
  padding-left: 0;
}
footer .bottom-bar .row2 ul li:last-child {
  padding-right: 0;
  border-right: none;
}
footer .bottom-bar .row3 {
  font-size: 14px;
  padding-top: 10px;
}
