.layer {
  overflow: hidden;
}
.layer:nth-child(2n + 1) {
  background-color: #f7f7f7;
}
.layer .hd {
  padding-top: 50px;
  padding-bottom: 42px;
  overflow: hidden;
}
.layer .hd h3 {
  font-size: 36px;
  color: #1c1f21;
  line-height: 36px;
  font-weight: bold;
  float: left;
}
.layer .hd .slogan {
  float: left;
  color: #1c1f21;
  padding-top: 20px;
  margin-left: 10px;
  font-size: 14px;
}
.layer .hd .tabbar {
  float: right;
  margin-top: 10px;
}
.layer .hd .tabbar ul li {
  float: left;
  margin-right: 15px;
  font-size: 15px;
}
.layer .hd .tabbar ul li:last-child {
  margin-right: 0;
}
.layer .hd .tabbar ul li.current {
  border-bottom: 4px solid #20bd9a;
  padding-bottom: 4px;
}
.layer .hd .tabbar ul li.current a {
  color: #20bd9a;
}
.layer .hd .tabbar ul li:hover a {
  color: #20bd9a;
}
.layer .grid {
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}
.layer .grid:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.layer .grid img.p-img {
  transition: all 0.4s ease 0s;
}
.layer .grid .pic {
  overflow: hidden;
}
.layer .grid:hover .pic {
  overflow: hidden;
}
.layer .grid:hover .pic img.p-img {
  transform: scale(1.1);
}
.layer .grid.more {
  background: -webkit-linear-gradient(top, #34e3bc, #15af7a);
  cursor: pointer;
}
.layer .grid.more a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
}
.layer .grid.more .more_con {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}
.layer .grid.more:hover .arrow {
  animation: jump 0.2s ease 0s infinite alternate;
}
@keyframes jump {
  from {
    transform: translateY(4px);
  }
  to {
    transform: translateY(-4px);
  }
}
.layer .grid.more .arrow {
  transition: all 0.4s ease 0s;
  color: white;
  position: absolute;
  top: 100px;
  width: 60px;
  height: 60px;
  left: 50%;
  margin-left: -30px;
  text-align: center;
}
.layer .grid.more .arrow b {
  font-size: 60px;
}
.layer .grid.more .tj {
  position: absolute;
  width: 100%;
  bottom: 50px;
  text-align: center;
}
.layer .grid.more .tj ul li {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid white;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
}
.layer .grid.more .tj ul li:last-child {
  border-right: none;
}
